<meta charset="UTF-8">
<title>Home</title>

<link rel="icon" href="https://pics.freeicons.io/uploads/icons/png/11777962571556281667-512.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="styleheet" href="../../calendar.css">
<style>
    body {
        padding-top: 50px;
    }
    .required {
        color: red;
    }
</style>