<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %> 
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header') %> 
        </header>
        <main>
            <div class="jumbotron">
                <h1>Calendar</h1>
                <iframe src="https://calendar.google.com/calendar/embed?src=kl8d817gusjhstslcc6vcaj84k%40group.calendar.google.com&ctz=Australia%2FPerth" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>