<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %> 
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header') %> 
        </header>
        <main>
            <div class="jumbotron">
                <h1>Welcome to my website</h1>
                <p>Add subjects on your <a href="/profile">profile</a> and then go to the <a href="/exams">exams</a> page to see when your exams are.</p>
                <br>
                <p>Check out the <a href="/calendar">calendar</a> to see when the next school events are.</p>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %> 
        </footer>
    </body>
</html>