<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Subject Selection</title>
        <%- include('../partials/head') %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>Select Your Subjects</h1>
                    <form action="/subject" method="POST">
                        <input type="checkbox" id="subject1" name="s1" value="Accounting and Finance">
                        <label for="subject1">Accounting and Finance</label><br>
                        <input type="checkbox" id="subject2" name="s2" value="Ancient History">
                        <label for="subject2">Ancient History</label><br>
                        <input type="checkbox" id="subject3" name="s3" value="Biology">
                        <label for="subject3">Biology</label><br>
                        <input type="checkbox" id="subject4" name="s4" value="Chemistry">
                        <label for="subject4">Chemistry</label><br>
                        <input type="checkbox" id="subject5" name="s5" value="Chinese: Background Language">
                        <label for="subject5">Chinese: Background Language</label><br>
                        <input type="checkbox" id="subject6" name="s6" value="Chinese: Second Language">
                        <label for="subject6">Chinese: Second Language</label><br>
                        <input type="checkbox" id="subject7" name="s7" value="Computer Science">
                        <label for="subject7">Computer Science</label><br>
                        <input type="checkbox" id="subject8" name="s8" value="Design">
                        <label for="subject8">Design</label><br>
                        <input type="checkbox" id="subject9" name="s9" value="Drama">
                        <label for="subject9">Drama</label><br>
                        <input type="checkbox" id="subject10" name="s10" value="Economics">
                        <label for="subject10">Economics</label><br>
                        <input type="checkbox" id="subject11" name="s11" value="Engineering Studies">
                        <label for="subject11">Engineering Studies</label><br>
                        <input type="checkbox" id="subject12" name="s12" value="English">
                        <label for="subject12">English</label><br>
                        <input type="checkbox" id="subject13" name="s13" value="Food Science and Technology">
                        <label for="subject13">Food Science and Technology</label><br>
                        <input type="checkbox" id="subject14" name="s14" value="French: Second Language">
                        <label for="subject14">French: Second Language</label><br>
                        <input type="checkbox" id="subject15" name="s15" value="Human Biology">
                        <label for="subject15">Human Biology</label><br>
                        <input type="checkbox" id="subject16" name="s16" value="Italian: Second Language">
                        <label for="subject16">Italian: Second Language</label><br>
                        <input type="checkbox" id="subject17" name="s17" value="Japanese: Second Language">
                        <label for="subject17">Japanese: Second Language</label><br>
                        <input type="checkbox" id="subject18" name="s18" value="Literature">
                        <label for="subject18">Literature</label><br>
                        <input type="checkbox" id="subject19" name="s19" value="Mathematics: Applications">
                        <label for="subject19">Mathematics: Applications</label><br>
                        <input type="checkbox" id="subject20" name="s20" value="Mathematics: Methods">
                        <label for="subject20">Mathematics: Methods</label><br>
                        <input type="checkbox" id="subject21" name="s21" value="Mathematics: Specialist">
                        <label for="subject21">Mathematics: Specialist</label><br>
                        <input type="checkbox" id="subject22" name="s22" value="Modern History">
                        <label for="subject22">Modern History</label><br>
                        <input type="checkbox" id="subject23" name="s23" value="Music: Western Art Music">
                        <label for="subject23">Music: Western Art Music</label><br>
                        <input type="checkbox" id="subject24" name="s24" value="Philosophy and Ethics">
                        <label for="subject24">Philosophy and Ethics</label><br>
                        <input type="checkbox" id="subject25" name="s25" value="Physical Education Studies">
                        <label for="subject25">Physical Education Studies</label><br>
                        <input type="checkbox" id="subject26" name="s26" value="Physics">
                        <label for="subject26">Physics</label><br>
                        <input type="checkbox" id="subject27" name="s27" value="Politics and Law">
                        <label for="subject27">Politics and Law</label><br>
                        <input type="checkbox" id="subject28" name="s28" value="Psychology">
                        <label for="subject28">Psychology</label><br>
                        <input type="checkbox" id="subject29" name="s29" value="Visual Arts">
                        <label for="subject29">Visual Arts</label><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
        </main>
    </body>
</html>
